{% extends '_shared.html' %}
{% block title %}
    home
{% endblock %}

{% block content %}
    <h1>Home Page</h1>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">log out</button>
    </form>
    {% if user.is_authenticated %}
        <p>welcome {{ user.username }} /
        {% else %}
       <p> <a href="{% url 'signup' %}">sign up</a>  / <a href="{% url 'login' %}">log in</a> </p>
    {% endif %}
    <h1>this is home page</h1>
{% endblock %}



