{% extends '_shared.html' %}
{% load crispy_forms_tags %}
{% load book_tag %}
{% block title %}
    book detail
{% endblock %}

{% block content %}

    <div class="">
        <div class="d-flex justify-content-center">
            <div class="row w-sm-75 w-100">
                <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                    <div>
                        <img src="{{ book.cover.url }}"
                             class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                    <h1>{{ book.title }}</h1>
                    <h5 class="small my-1"><span class="text-muted">author : </span>{{ book.author }}</h5>
                    <h5 class="small my-1"><span class="text-muted">author : </span>{{ book.user.username }}</h5>
                    <h5 class="small my-1"><span class="text-muted">translated by: </span>donald trump</h5>
                    <h5 class="small my-1"><span class="text-muted">publisher </span>hozmozd</h5>
                    <p>price : {{ book.price }} dollars</p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        {{ book.description }}
                    </div>
                </div>
<h2 class="mb-5">comments :</h2>
                {% for comment in comments %}
                    <div class="d-flex justify-content-center">
                        <div class="card shadow my-3 p-5 w-sm-75 w-100">
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3">{{ comment.user.username }}</h5>
                            </div>
                            <p>{{ comment.text }}</p>
                        </div>

                    </div>
                {% endfor %}

            <div class="d-flex justify-content-center">
                <div class="card shadow my-3 p-5 w-sm-75 w-100">
                    <h3>write down comments here</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ cmt_form }}
                        <button type="submit" class="btn btn-primary">send comment</button>
                    </form>

                </div>

            <div class="col-xs-12 col-md-3 d-flex flex-column">
                <h3 class="align-self-center pt-2 text-muted align-self-md-end">

                </h3>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}


